<%- include("layout/header") %>

    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="seat-layout clearfix " style="width:200px;">

                    <div style="width:200px;float: right;height:20px;">
                        <div class="driver-steering " title="DRIVER" data-toggle="tooltip" data-placement="bottom">
                            <img src="/img/bus/steering-wheel.png" width="20px" alt="">
                        </div>
                    </div>

                    <ul style="width:35px; float:right;" class="list-inline">

                        <li class="bg-none">
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="2" title="[2]"
                            data-toggle="tooltip">
                            2
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="6" title="[6]"
                            data-toggle="tooltip">
                            6
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="10" title="[10]"
                            data-toggle="tooltip">
                            10
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="14" title="[14]"
                            data-toggle="tooltip">
                            14
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="18" title="[18]"
                            data-toggle="tooltip">
                            18
                        </li>

                        <li class="text-center" onclick="selectedSeat(this.id)" id="22" title="[22]"
                            data-toggle="tooltip">
                            22
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="26" title="[26]"
                            data-toggle="tooltip">
                            26
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="30" title="[30]"
                            data-toggle="tooltip">
                            30
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="34" title="[34]"
                            data-toggle="tooltip">
                            34
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="39" title="[39]"
                            data-toggle="tooltip">
                            39
                        </li>
                    </ul>
                    <ul style="width:30px; float:right;" class="list-inline">

                        <li class="bg-none">
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="1" title="[1]"
                            data-toggle="tooltip">
                            1
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="5" title="[5]"
                            data-toggle="tooltip">
                            5
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="9" title="[9]"
                            data-toggle="tooltip">
                            9
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="13" title="[13]"
                            data-toggle="tooltip">
                            13
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="17" title="[17]"
                            data-toggle="tooltip">
                            17
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="21" title="[21]"
                            data-toggle="tooltip">
                            21
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="25" title="[25]"
                            data-toggle="tooltip">
                            25

                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="29" title="[29]"
                            data-toggle="tooltip">
                            29
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="33" title="[33]"
                            data-toggle="tooltip">
                            33
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="38" title="[38]"
                            data-toggle="tooltip">
                            38
                        </li>

                    </ul>
                    <ul style="width:30px; float:right;" class="list-inline">

                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="37" title="[37]"
                            data-toggle="tooltip">
                            37
                        </li>
                    </ul>
                    <ul style="width:30px; float:right;" class="list-inline">

                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="4" title="[4]"
                            data-toggle="tooltip">
                            4
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="8" title="[8]"
                            data-toggle="tooltip">
                            8
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="12" title="[12]"
                            data-toggle="tooltip">
                            12
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="16" title="[16]"
                            data-toggle="tooltip">
                            16
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="20" title="[20]"
                            data-toggle="tooltip">
                            20
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="24" title="[24]"
                            data-toggle="tooltip">
                            24
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="28" title="[28]"
                            data-toggle="tooltip">
                            28
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="32" title="[32]"
                            data-toggle="tooltip">
                            32
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="36" title="[36]"
                            data-toggle="tooltip">
                            36
                        </li>
                    </ul>
                    <ul style="width:30px; float:right;" class="list-inline">

                        <li class="bg-none">
                        </li>
                        <li class="bg-none">
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="3" title="[3]"
                            data-toggle="tooltip">
                            3
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="7" title="[7]"
                            data-toggle="tooltip">
                            7
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="11" title="[11]"
                            data-toggle="tooltip">
                            11
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="15" title="[15]"
                            data-toggle="tooltip">
                            15
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="19" title="[19]"
                            data-toggle="tooltip">
                            19
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="23" title="[23]"
                            data-toggle="tooltip">
                            23
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="27" title="[27]"
                            data-toggle="tooltip">
                            27
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="31" title="[31]"
                            data-toggle="tooltip">
                            31
                        </li>
                        <li class="text-center" onclick="selectedSeat(this.id)" id="35" title="[35]"
                            data-toggle="tooltip">
                            35
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>
                        <%= responce[0].routeName %>
                    </h5>
                    <div class="col-sm-3 primary-font">
                        <div class="box gray-bg"></div> Available Seats
                    </div>
                    <div class="col-sm-3 primary-font">
                        <div class="box tomato-bg"></div> Booked Seats
                    </div>
                    <div class="col-sm-3 primary-font">
                        <div class="box pink-bg"></div> Booked Seats By Female
                    </div>
                    <div class="col-sm-3 primary-font">
                        <div class="box yg-bg"></div> Selected Seats
                    </div>
                </div>
                <!-- table  -->
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col text-center">Seats</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="selectedOne" class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td id="selectedTwo" class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td id="selectedThree" class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td id="selectedFour" class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>

                    </tbody>
                </table>

                <div class="row align-items-center">
                    <div class="col-sm-6 mt-2">
                        <form action="/book-seat/<%= responce[0]._id %>" method="post">
                            <input type="hidden" name="seatOne" id="seatOne">
                            <input type="hidden" name="seatTow" id="seatTwo">
                            <input type="hidden" name="seatThree" id="seatThree">
                            <input type="hidden" name="seatFour" id="seatFour">
                            <!-- <input type="hidden" name="scheduleId" id="scheduleId" value="<%= responce._id %>"> -->
                            <input type="submit" value="Continue" class="btn-blue text-center primary-font w-100">
                        </form>

                    </div>
                    <div class="col-sm-6 mt-2">
                        <button class="btn-blue text-center primary-font w-100">Search again</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <%- include("layout/footer") %>