<%- include("layout/dashboardHeader") %>
    <div class="container m-4">
        <div class="container">

            <%- include('./partials/messages') %>
                <form method="post" action="/dashboard/schedule/">
                    <div class="mb-3">
                        <label for="routeId" class="form-label">Route No</label>
                        <select class="form-select" name="routeId">
                            <% for(var i=0; i < route.length; i++) { %>
                                <option value="<%= route[i]._id %>">
                                    <%= route[i].routeNo %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startTimeId" class="form-label">Time</label>
                        <input type="time" class="form-control" id="startTimeId" name="startTime">
                    </div>
                    <div class="mb-3">
                        <label for="startTimeId" class="form-label">Schedule From</label>
                        <input type="date" class="form-control" id="scheduleFromId" name="scheduleFrom">
                    </div>
                    <div class="mb-3">
                        <label for="startTimeId" class="form-label">Schedule To</label>
                        <input type="date" class="form-control" id="scheduleToId" name="scheduleTo">
                    </div>

                    <p class="text-left"><b> Select days</b></p>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="saturday" type="checkbox" id="saturday">
                        <label class="form-check-label" for="saturday">Saturday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">

                        <input class="form-check-input" name="sunday" type="checkbox" id="sunday">
                        <label class="form-check-label" for="sunday">Sunday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="monday" type="checkbox" id="monday">
                        <label class="form-check-label" for="monday">Monday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="tuesday" type="checkbox" id="tuesday">
                        <label class="form-check-label" for="tuesday">Tuesday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="wednesday" type="checkbox" id="wednesday">
                        <label class="form-check-label" for="wednesday">Wednesday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="thursday" type="checkbox" id="thursday">
                        <label class="form-check-label" for="thursday">Thursday</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" name="friday" type="checkbox" id="friday">
                        <label class="form-check-label" for="friday">Friday</label>
                    </div>


                    <div class="mb-3">
                        <label for="startId" class="form-label">Starting position</label>
                        <select class="form-select" name="start">
                            <% for(var i=0; i < location.length; i++) { %>
                                <option value="<%= location[i] %>">
                                    <%= location[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startId" class="form-label">Destination</label>
                        <select class="form-select" name="destination">
                            <% for(var i=0; i < location.length; i++) { %>
                                <option value="<%= location[i] %>">
                                    <%= location[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="busId" class="form-label">Bus Name</label>
                        <select class="form-select" name="busId">
                            <% for(var i=0; i < bus.length; i++) { %>
                                <option value="<%= bus[i]._id %>">
                                    <%= bus[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="driverId" class="form-label">Driver Name</label>
                        <select class="form-select" name="driverId">
                            <% for(var i=0; i < driver.length; i++) { %>
                                <option value="<%= driver[i]._id %>">
                                    <%= driver[i].driverName %>
                                </option>
                                <% } %>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>

        </div>
    </div>
    <%- include("layout/dashboardFooter") %>