<%- include("layout/dashboardHeader") %>
    <div class="container">

        <%- include('./partials/messages') %>

            <form method="post" action="/dashboard/drivers/<%= responce._id %>">
                <div class="mb-3">
                    <label for="driverNameId" class="form-label">Route Name</label>
                    <input type="text" class="form-control" id="driverNameId" name="driverName"
                        value="<%= responce.driverName %>">
                </div>
                <div class="mb-3">
                    <label for="phoneId" class="form-label">Route Name</label>
                    <input type="text" class="form-control" id="phoneId" name="phone" value="<%= responce.phone %>">
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

    </div>
    <%- include("layout/dashboardFooter") %>