<%- include("layout/dashboardHeader") %>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Schedule <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <a href="/dashboard/schedule/add" type="button" class="btn btn-info add-new"><i
                                class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
            </div>

            <!-- table  -->

            <div class="mt-4">
                <div class="row">
                    <div class="col-12">
                        <%- include('./partials/messages') %>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Route Name</th>
                                        <th scope="col">Start &#x2192 Destination</th>
                                        <th scope="col">Bus Number</th>
                                        <th scope="col">Driver Name</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Time</th>
                                        <th style="width: 10%" scope="col">Date</th>
                                        <th scope="col">Availabe Seats</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < responce.length; i++) { %>
                                        <tr>
                                            <th scope="row">
                                                <%= i + 1 %>
                                            </th>
                                            <th scope="row">
                                                <%= responce[i].routeName %>
                                            </th>
                                            <td>
                                                <%= responce[i].start %> &#x2192 <%= responce[i].destination %>
                                            </td>
                                            <td>
                                                <%= responce[i].busName %>
                                            </td>
                                            <td>
                                                <%= responce[i].driverName %>
                                            </td>
                                            <td>
                                                <%= responce[i].phone %>
                                            </td>
                                            <td>
                                                <%= responce[i].startTime %>
                                            </td>
                                            <td>
                                                <%= responce[i].date.toISOString().slice(0, 10) %>
                                            </td>
                                            <td>
                                                <%= responce[i].availabeSeats %>
                                            </td>
                                            <td class="text-center">

                                                <a href="/dashboard/schedule/<%= responce[i]._id %>" type="button"
                                                    class="btn btn-success d-inline"><i class="fas fa-edit"></i></a>

                                                <form class="d-inline"
                                                    action="/dashboard/schedule/<%= responce[i]._id %>?_method=DELETE"
                                                    method="post">
                                                    <button type="submit" class="btn btn-danger mt-1"><i
                                                            class="far fa-trash-alt"></i></button>
                                                </form>

                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

        </div>



        <%- include("layout/dashboardFooter") %>